*{
    padding: 0;
    margin: 0;
}

menu{
    grid-area: menu;
    background-color: aqua;
    display: none;
}

aside{
    grid-area: aside;
    background-color: aquamarine;
}

main{
    grid-area: main;
    background-color: blue;
}

body{
    display: grid;
    grid-template-areas: "aside" "main" "footer";
    height: 100vh;
}

footer{
    grid-area: footer;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (width > 576px){
    body{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "aside menu"
    "aside main"
    "aside footer";
}
menu{
    grid-area: menu;
    background-color: rgb(255, 174, 0);
    display: none;
}

aside{
    grid-area: aside;
    background-color: rgb(217, 255, 127);
}

main{
    grid-area: main;
    background-color: rgb(255, 72, 0);
}

footer{
    grid-area: footer;
    background-color: rgb(226, 43, 119);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}